[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
pkgconfig = "*"
anyio = "*"
attrs = "*"
automat = "*"
babel = "*"
bcrypt = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
cloud-init-gen = "*"
colorama = "*"
configobj = "*"
constantly = "*"
cryptography = "*"
dbus-python = "*"
distro = "*"
distro-info = "*"
dnspython = "*"
email-validator = "*"
et-xmlfile = "*"
exceptiongroup = "*"
fastapi = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httplib2 = "*"
hyperlink = "*"
idna = "*"
importlib-metadata = "*"
incremental = "*"
jeepney = "*"
jinja2 = "*"
jsonpatch = "*"
jsonpointer = "*"
jsonschema = "*"
keyring = "*"
launchpadlib = "*"
"lazr.restfulclient" = "*"
"lazr.uri" = "*"
mako = "*"
markupsafe = "*"
more-itertools = "*"
mypy = "*"
mypy-extensions = "*"
netifaces = "*"
numpy = "*"
oauthlib = "*"
openpyxl = "*"
pandas = "*"
pathlib = "*"
pexpect = "*"
psycopg2-binary = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pydantic = "*"
pygobject = "*"
pyhamcrest = "*"
pyjwt = "*"
pyopenssl = "*"
pyparsing = "*"
pyrsistent = "*"
pyserial = "*"
python-apt = "*"
python-dateutil = "*"
python-debian = "*"
python-magic = "*"
python-multipart = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
secretstorage = "*"
service-identity = "*"
six = "*"
sniffio = "*"
sos = "*"
sqlalchemy = "*"
sqlalchemy2-stubs = "*"
sqlmodel = "*"
ssh-import-id = "*"
starlette = "*"
systemd-python = "*"
tomli = "*"
twisted = "*"
typing-extensions = "*"
tzdata = "*"
ubuntu-advantage-tools = "*"
ubuntu-drivers-common = "*"
ufw = "*"
unattended-upgrades = "*"
urllib3 = "*"
uvicorn = "*"
wadllib = "*"
xkit = "*"
xlsxwriter = "*"
zipp = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3.10"
