<form id="Models_include" method="post" action="/generate/" data-label="Выбор моделей для генерации">
    <h4>Выбор моделей для генерации</h4>
    <p>Можно выбрать множество моделей данных для генерации. Персональные данные выбраны всегда по умолчанию.</p>
    <label><input type="checkbox" name="data" value="personal" checked disabled> Personal
        <input type="hidden" name="data" value="personal">
    </label>
    <label><input type="checkbox" name="data" value="passport"> Passport</label>
    <label><input type="checkbox" name="data" value="contacts"> Contacts</label>
    <label><input type="checkbox" name="data" value="experience"> Experience</label>
    <label><input type="checkbox" name="data" value="diploma"> Diploma</label>
    <label><input type="checkbox" name="data" value="address"> Address</label>
    <label><input type="checkbox" name="data" value="biometric"> Biometric</label>
    <label><input type="checkbox" name="data" value="driver_license"> Driver License</label>
</form>
